table, th, td {
    border:1px solid black;
    border-collapse:collapse;
    padding-left: 1rem;
    padding-right: 0.5rem;
}

ul,
#baum {
    list-style-type: none;
}

#baum {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}